/* bootstrap override */

.navbar {
    border-radius: 0px !important;
}

.media-body {
    padding-left: 5px !important;
}

.form-control {
    display: block !important;
    width: 100% !important;
}
.ui-effects-transfer {
    border: 1px dotted black;
  }


/*Site css  */

.product_view .modal-dialog {
    max-width: 800px;
    width: 100%;
}

.pre-cost {
    text-decoration: line-through;
    color: #a5a5a5;
}

.space-ten {
    padding: 10px 0;
}

.btn-add-to-cart {
    background: #FD5A5B;
    color: #fff;
}

.btn.btn-add-to-cart.focus,
.btn.btn-add-to-cart:focus,
.btn.btn-add-to-cart:hover {
    color: #fff;
    background: #FD7172;
    outline: none;
}

.btn-add-to-cart:active {
    background: #F9494B;
    outline: none;
}

span.itemPrice {
    font-size: 24px;
    color: #FA5B58;
}