/*Site css  */

body,
html {
    background: #f9fafa;
    padding: 0px !important;
    margin: 0px !important;
}

footer {
    margin-top: 50px;
    border-top-color: rgb(78, 93, 108);
    border-top-style: solid;
    border-top-width: 1px;
}


/* bootstrap override */

.navbar {
    border-radius: 0px !important;
}

.media-body {
    padding-left: 5px !important;
}

.form-control {
    display: block !important;
    width: 100% !important;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: rgba(24, 188, 156, 0.16);
}


/* product-template */

.block {
    margin-bottom: 15px;
    border-radius: 4px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 55px rgba(0, 0, 0, 0.1);
}

.top {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    text-align: center;
}

.product-brand {
    padding: 2px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.middle {
    margin-bottom: 40px;
}

.bottom {
    text-align: center;
}

.name {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 0;
}

.description {
    font-size: 17px;
    margin-bottom: 15px;
    letter-spacing: 0;
}

.btn-add-to-cart {
    background: #FD5A5B;
    color: #fff;
}

.btn.btn-add-to-cart.focus,
.btn.btn-add-to-cart:focus,
.btn.btn-add-to-cart:hover {
    color: #fff;
    background: #FD7172;
    outline: none;
}

.btn-add-to-cart:active {
    background: #F9494B;
    outline: none;
}

.item-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px
}


/* error style */

h2#error-title.text-danger {
    border-bottom-color: red;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#compound-error-list {
    color: red;
    font-size: 1.3em;
    font: bold;
}